# /etc/vpn-gateway/wireguard/wg0.conf

[Interface]
PrivateKey = <sua_chave_privada>
Address = 10.99.0.2/32
DNS = 1.1.1.1

[Peer]
PublicKey = <chave_publica_do_servidor>
Endpoint = wg.clienteC.com.br:51820
# Só as sub-redes do cliente C -- NÃO use 0.0.0.0/0 aqui, pois isso
# roteraria TODO o tráfego do container por esse túnel e conflitaria
# com os outros dois.
AllowedIPs = 192.168.100.0/24
PersistentKeepalive = 25
